
.fz-14{
    font-size: 14px;
    line-height: 20px;
}
.fz-18{
    font-size: 18px;
    line-height: 26px;
}
.fz-24{
    font-size: 24px;
    line-height: 35px;
    }
.fz-32{
    font-size: 32px;
    line-height: 37px;
}

.mb-74{
    margin-bottom: 74px;
}
.mb-32{
    margin-bottom: 32px;
}

.pb-40{
    padding-bottom: 40px;
}
.pb-32{
    padding-bottom: 32px;
}

.pt-32{
    padding-top: 32px;
}

.py-40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.px-36{
    padding-left: 36px;
    padding-right: 36px;
}
.px-14{
    padding: 0 14px;
}

.pr-6{
    padding-right: 6px;
}

.pl-0{
    padding-left: 0;
}
