.fz-80{
    font-size: 80px;
    line-height: 85px;
}
.fz-18{
    font-size: 18px;
}
.fz-20{
    font-size: 20px;
    line-height: 29px;
}

.lh-26{
line-height: 26px;
}
.lh-50{
    line-height: 50px;
}
.pb-40{
    padding-bottom: 40px;
}
.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.pt-40{
    padding-top: 40px;
}
.pb-80{
    padding-bottom: 80px;
}